*/node_modules/*
*/.mvn/*
.m2/*
sonar/*
*/target/*
*/.idea/*
*.db

client/bt_client/.expo/web/*


#from react native
*node_modules/
.expo/
*npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*web-build/

# macOS
*.DS_Store